.menu {
  display: flex;
  flex-direction: column;
}

.option {
  border-bottom: 1px solid #e4e4e4;
  padding: 25px;
  font-weight: bold;
  cursor: pointer;
}

.option:last-child {
  border: none;
  font-weight: 300;
}

.option:hover {
  color: #94c123;
}
